version: "3.9"

services:

  db:
    image: mysql:8
    container_name: main-project-db-1
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: main-project-backend-1
    ports:
      - "${BACKEND_PORT}:8080"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: main-project-frontend-1
    ports:
      - "${FRONTEND_PORT}:3000"
    depends_on:
      - backend

volumes:
  db_data: